.lobby {
  padding: 60px 0;
  &__title {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  &__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
  }
}